.card {
  background-color: #FFFFFF;
  width: 100%;
  height: 650px;
  border-radius: 5px;
  padding: 30px 10px 10px 10px;
  cursor: pointer;
  border: solid 4px;
  border-color: rgba(204, 170, 144, 0.3);
  box-sizing: border-box;
  position: relative;
}
.card:now(:last-of-type) {
  margin-right: 15px;
}
.card:hover {
  /* border: solid 4px;
  border-color: rgba(204, 170, 144, 1); */
}
.clickCard {
  background-color: #ffffff;
  width: 100%;
  height: 650px;
  border-radius: 5px;
  padding: 30px 10px 10px 10px;
  cursor: pointer;
  border: solid 4px;
  border-color: rgba(204, 170, 144, 1);
  box-sizing: border-box;
  position: relative;
}
.moreReview {
  font-size: 16px;
  color: gray;
  text-align: end;
  margin: 15px 0 0 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.moreReview:hover {
  font-weight: bold;
  color: rgb(255, 149, 0);
}