.hoverBox{
    width:100%;
    height: 98%;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.4);
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hoverProfile:hover .hoverBox{
    opacity:1;
}

.scrollLock { overflow: hidden; }


.filebox{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox label {
  width: 17%;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: 13px;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  text-align: center;
}

/* named upload */
.filebox .upload-name {
  width: 82%;
  box-sizing: border-box;
  display: inline-block;
  padding: .5em .75em;
  font-size: 13px;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}

.upload-name :focus{
  border:none !important;
  outline:none !important; 
}

.filebox.bs3-primary label {
  color: #fff;
  background-color: #AC998A;
  border-color: #AC998A;
}



/* 임의의 영역 생성 */
.scrollBar{
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding:5%;
}

.scrollBar2{
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* 아래의 모든 코드는 영역::코드로 사용 */

.scrollBar::-webkit-scrollbar {
    width: 7px;  /* 스크롤바의 너비 */
}

.scrollBar::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #AC998A; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.scrollBar2::-webkit-scrollbar {
  width: 3px;  /* 스크롤바의 너비 */
}

.scrollBar2::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: #AC998A; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}



input[id=styledInput]{
	width:98%;
	border:2px solid #aaa;
	border-radius:4px;
	margin: 4px 2px;
	outline: none;
	padding:8px;
	box-sizing: border-box;
	transition:.3s;
}

input[id=styledInput]:focus{
	border-color: #AC998A;
	box-shadow:0 0 8px 0 dodgetBlue;
}

textarea {
  width:100%;
  height: 80px;
	border:2px solid #aaa;
	border-radius:4px;
	margin: 8px auto;
	outline: none;
	padding:8px;
	box-sizing: border-box;
	transition:.3s;
  resize: none;
}

textarea:focus{
	border-color: #AC998A;
	box-shadow:0 0 8px 0 dodgetBlue;
}

.mypagepagination {
  width:35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:auto;
  margin-top: 30px;
}

.mypagepagination li {
  list-style: none;
  text-align: center;
  border-radius: 50%;
}

.alignCenter {
  text-align: 'center';
}

.smallIcon{
  width: 30px !important;
  height: 30px !important;
}

.midFont{
  font-size: 18px !important;
}

.dots-bars-4 {
  width: 40px;
  height: 20px;
  --c:radial-gradient(farthest-side,currentColor 93%, ##000);
  background:
    var(--c) 0    0,
    var(--c) 50%  0,
    var(--c) 100% 0;
  background-size:8px 8px;
  background-repeat: no-repeat;
  position: relative;
  animation: db4-0 1s linear infinite alternate;
}
.dots-bars-4:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background:currentColor;
  left:0;
  top:0;
  animation: 
    db4-1 1s  linear infinite alternate,
    db4-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}

@keyframes db4-0 {
  0%      {background-position: 0  100%,50% 0   ,100% 0}
  8%,42%  {background-position: 0  0   ,50% 0   ,100% 0}
  50%     {background-position: 0  0   ,50% 100%,100% 0}
  58%,92% {background-position: 0  0   ,50% 0   ,100% 0}
  100%    {background-position: 0  0   ,50% 0   ,100% 100%}
}

@keyframes db4-1 {
  100% {left:calc(100% - 8px)}
}

@keyframes db4-2 {
  100% {top:-0.1px}
}

.dots-bars-3 {
  width: 40px;
  height: 26px;
  --c: linear-gradient(#AC998A 0 0);
  background:
    var(--c) 0    100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  background-size:8px calc(100% - 4px);
  background-repeat: no-repeat;
  position: relative;
}
.dots-bars-3:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background:currentColor;
  left:0;
  top:0;
  animation: 
    db3-1 1.5s  linear infinite alternate,
    db3-2 0.75s cubic-bezier(0,200,.8,200) infinite;
}


@keyframes db3-1 {
  100% {left:calc(100% - 8px)}
}

@keyframes db3-2 {
  100% {top:-0.1px}
}