.hoverBox{
    width:100%;
    height: 98%;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.4);
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hoverProfile:hover .hoverBox{
    opacity:1;
}

.scrollLock { overflow: hidden; }


.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.filebox label {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 20px;
  color: #999;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

/* named upload */
.filebox .upload-name {
  display: inline-block;
  height: 35px;
  font-size:18px; 
  padding: 0 10px;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-radius: 5px;

}